extends layout
//- bu sayfa layoutdan extend olmuş.

//- block content
//-   h1= title
//-   p Welcome to #{title}


block content 
    include ./includes/header

    //- partial view yapısının referans olarak index kısmında kullanılmasını çağırılmasını sağladık.
    //- sabit statik template işlemleri için include dinamik template işlemleri ise mixin function kullanıyoruz.