<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <img src="images/bird.jpg" />

  HandlebarsJS

  <a href="/setCookie">SetCookie</a>
  <a href="/getCookie">GetCookie</a>

</body>

</html>