doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content 
     

    //- @renderBody() yerine content keyword kullanırız.
    //- <link rel="" /> link(rel='') attribute tanımları () içerisinde yazılıyor. 

//- output
//- <html>
//-   <head></head>
//- </html>
